{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="bg-image">
        <img src="{% static 'blog/images/backgroundimage_about.jpg' %}" style="width: 100%; height: 100%;">
    </div>
    <div class="bg-text">
        <h2 class="heading-about"> Photo Vision</h2>
        <p class="paragraph-about"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue dictum congue. Integer ex ante, fermentum in ultrices a, vulputate eu odio. Suspendisse ullamcorper, lorem vitae accumsan luctus, odio est rhoncus leo, nec tristique nulla mi at turpis. Ut tincidunt nec nunc at vulputate. Donec consectetur enim eu mauris facilisis, cursus aliquet leo iaculis. Donec sed est ac leo varius imperdiet. Praesent nec nunc malesuada, tempor augue id, luctus nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In laoreet lectus felis, nec sollicitudin dui imperdiet non. Fusce at imperdiet ligula. <br/><br/>
            Nam ac metus odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc placerat quis justo vitae facilisis. Ut interdum ipsum ac quam elementum congue. Morbi in metus posuere, sollicitudin turpis et, tristique sapien. In ut mattis tellus. Duis eget nibh dolor. Donec auctor dui nisl, sit amet dapibus felis porttitor ut. Maecenas nec vulputate justo. <br/><br/>
            Suspendisse potenti. Nulla lacus mauris, molestie ut augue at, tristique egestas tortor. Cras mollis risus eget lorem faucibus suscipit. In hac habitasse platea dictumst. Integer euismod porttitor urna, porttitor ultrices neque dignissim interdum. Curabitur mattis malesuada orci. Etiam ut risus vel dui dictum rutrum. Nulla quis libero sollicitudin, posuere odio eget, tincidunt ante. Donec luctus odio dapibus rhoncus euismod. <br/><br/>
        </p>
    </div>
{% endblock %}