{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="background-color:cornsilk;">
    <div class="row">
        <div class="col">
            <h1 class="heading-service">Wedding</h1>
            <p class="paragraph-service">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend leo felis, non dignissim tellus aliquet eu. Donec elit nisi, tempor non diam sed, tempus tincidunt arcu. Sed varius orci libero. Aliquam efficitur neque id diam tincidunt tempor quis id ex. Nunc varius velit eget pretium tempor. Nullam id elit metus. Pellentesque gravida pulvinar tempor. Phasellus ut lacus ligula. Pellentesque vitae sagittis enim. Donec finibus felis vel venenatis fermentum. Praesent laoreet scelerisque massa, vel fringilla enim tempus a. Praesent lorem diam, suscipit semper erat sit amet, tempor interdum leo. Maecenas rutrum diam quis quam auctor, eget scelerisque sapien feugiat. Sed lobortis luctus elit a fermentum. Aliquam tincidunt ut nibh quis blandit. Integer pulvinar, dolor et pellentesque ullamcorper, nunc dui scelerisque lacus, ac convallis turpis felis quis ex.<br/><br/>
                Vestibulum ornare efficitur viverra. Aenean id vehicula elit, maximus malesuada tortor. Fusce cursus ex at convallis suscipit. Donec ut lacus ligula. Maecenas in imperdiet nisl. Duis euismod aliquam orci. Morbi sagittis velit sed odio semper molestie. Fusce a efficitur lorem. Vivamus id ante eget sapien egestas porttitor et pellentesque tortor. Sed leo arcu, rhoncus vitae nulla quis, malesuada consequat tortor. Vestibulum fringilla condimentum justo. Quisque a dapibus quam, in faucibus ante.<br/><br/>
            </p>
        </div>
        <div class="col">
            <img class="fixed-image-right" src="{% static 'blog/images/wedding_service.jpg' %}" alt="Image" style="width: 100%; height: 100%;">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img class="fixed-image-left" src="{% static 'blog/images/postwedding_service.jpg' %}" alt="Pre/Post wedding" style="width: 100%; height: 100%;">
        </div>
        <div class="col">
           <h1 class="heading-service">Pre-wedding/Post-wedding</h1>
           <p class="paragraph-service">
                Nulla facilisis tortor arcu, vel posuere elit iaculis sed. Donec eu eros lorem. Sed accumsan eros quis lacinia ultrices. Donec sem lacus, laoreet malesuada finibus sit amet, eleifend in nisl. Cras ac diam sem. Ut et felis a risus tincidunt pulvinar id sit amet sapien. Donec vel lacus dui. Nulla at ultrices erat. Sed id justo eget nisi posuere commodo semper vel erat. Morbi nec commodo risus, vel ultricies tortor. Praesent eget ante rhoncus, tincidunt urna vitae, cursus tortor. Cras auctor egestas dignissim. Maecenas sit amet erat fermentum, ultricies lacus in, malesuada tortor. In non nisi sit amet dui maximus suscipit at vitae nisl. Morbi ac sem eu lacus efficitur mattis et at nisl. Sed interdum, orci a ornare rutrum, odio justo tincidunt libero, sed fermentum est nulla a diam.<br/><br/>
                Mauris porttitor aliquet augue tincidunt euismod. Aliquam urna orci, fringilla ut dolor sit amet, aliquet faucibus erat. Maecenas interdum nisl at est scelerisque, in finibus leo suscipit. In feugiat, libero vel venenatis malesuada, ex libero dictum metus, id venenatis lorem magna vitae nisi. Aliquam sed pellentesque odio. Nullam ultricies nisi lacus, non bibendum neque dapibus id. Praesent enim orci, iaculis sit amet consequat quis, vulputate vitae velit. Maecenas fermentum non tortor vel scelerisque. Aliquam erat volutpat. Vivamus mattis mauris nec erat porta porta. Aenean et sem id sem bibendum lacinia id in tortor. Proin pellentesque placerat lacus.<br/><br/>
           </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="heading-service">Reception</h1>
            <p class="paragraph-service">
                Nulla interdum feugiat tempus. Maecenas nec egestas nunc, ut tristique ipsum. Suspendisse iaculis, velit ac ultricies ullamcorper, leo ex pretium ipsum, nec suscipit libero massa sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia elit diam, faucibus dignissim turpis elementum eget. Suspendisse volutpat tempus tincidunt. Nam eu ante ut justo sollicitudin vehicula sit amet et sem. Donec volutpat facilisis quam sit amet faucibus. Donec mattis, nulla ac posuere placerat, eros justo sagittis leo, ut euismod augue odio vitae justo. Phasellus hendrerit aliquam eros non maximus. Donec interdum facilisis ante et tincidunt. Nullam sed cursus turpis, ut vulputate lorem. Curabitur risus nunc, luctus sed massa eget, luctus facilisis libero. Nam sit amet consectetur elit, quis laoreet neque. Aliquam sit amet nisl est.<br/><br/>
                Vestibulum tristique at leo at varius. Maecenas in arcu et mauris ultricies lacinia et fermentum tortor. Sed gravida dui ut justo vulputate, eget lobortis tortor consequat. Nam malesuada lacus ac molestie dignissim. Nulla vehicula turpis bibendum mauris consequat, eu consequat felis molestie. Sed condimentum augue ac lectus suscipit ornare ut vel lacus. Suspendisse rutrum maximus velit nec faucibus.<br/><br/>
            </p>
        </div>
        <div class="col">
            <img class="fixed-image-right" src="{% static 'blog/images/reception_service.jpg' %}" style="width: 100%; height: 100%;">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img class="fixed-image-left" src="{% static 'blog/images/maternity_service.jpg' %}" style="width: 100%; height: 100%;">
        </div>
        <div class="col">
            <h1 class="heading-service">Maternity</h1>
            <p class="paragraph-service">
                Maecenas sagittis nec mi sit amet euismod. Nunc fermentum magna id ipsum molestie, a laoreet ipsum porta. Nam hendrerit cursus dictum. Vestibulum non malesuada lectus, eget fermentum enim. Suspendisse potenti. Nam volutpat vestibulum laoreet. Pellentesque id lobortis diam. Nulla at faucibus arcu. Vestibulum massa arcu, dictum quis eleifend id, tempor sit amet nibh. Vestibulum elementum in neque vitae dapibus. Duis vestibulum iaculis sollicitudin. Nullam augue nibh, pharetra non neque vitae, accumsan rhoncus tortor. Morbi faucibus, enim at suscipit fermentum, nulla orci dapibus quam, a vehicula mauris leo sed libero.<br/><br/>
                Aliquam rhoncus sit amet lectus id ultrices. Phasellus id tortor tempus, sodales enim vitae, congue metus. Aenean iaculis, mi vel lacinia dapibus, lacus justo efficitur turpis, ac volutpat lacus mauris vitae libero. Proin ornare non tellus eu vestibulum. Proin ac est quis urna tempus cursus ac eu libero. Suspendisse vehicula sapien ac convallis pretium. Sed eu tellus id nulla viverra porttitor. Nunc consequat id lacus sed viverra.<br/><br/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="heading-service">Baby photography</h1>
            <p class="paragraph-service">
                Cras auctor dolor in neque lacinia tincidunt. Nunc ornare dui ac fringilla feugiat. Duis nec vestibulum sapien, non scelerisque libero. Sed volutpat feugiat quam id tempus. Donec ipsum ante, scelerisque vel ligula id, congue finibus ante. Integer pellentesque lectus lorem, sit amet fermentum metus molestie at. Etiam cursus maximus velit non malesuada. Praesent lorem diam, dapibus nec enim nec, sagittis efficitur sem. Etiam elementum placerat tempor.<br/><br/>
                Ut hendrerit libero vel mauris placerat, eget sollicitudin lorem sodales. Mauris aliquet tempus convallis. Ut vel lectus ultrices, placerat turpis eget, fringilla ipsum. Nulla facilisi. Fusce rhoncus eget est ac posuere. Fusce ut sodales libero. Etiam accumsan elit vel est tempus fermentum. Morbi sit amet arcu facilisis, porttitor ipsum ut, porttitor dolor. Vivamus commodo massa eget metus pharetra fringilla. Integer metus dolor, eleifend sit amet condimentum nec, fringilla eu ligula. Aliquam nibh felis, condimentum vitae sollicitudin sit amet, dignissim sit amet mauris. Etiam sed convallis lorem, vel mattis nunc. Ut mattis tincidunt dolor vitae volutpat. Fusce consequat, sapien sit amet pellentesque hendrerit, ante leo eleifend nibh, at vehicula eros nibh a tellus. Phasellus cursus nisl eu viverra volutpat.<br/><br/>
            </p>
        </div>
        <div class="col">
            <img class="fixed-image-right" src="{% static 'blog/images/babyphotoshoot_service.jpg' %}" style="width: 100%; height: 100%;">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img class="fixed-image-left" src="{% static 'blog/images/specialmoments_service.jpg' %}" style="width: 100%; height: 100%;">
        </div>
        <div class="col">
            <h1 class="heading-service">Special moments</h1>
            <p class="paragraph-service">
                Vestibulum eget ligula vel neque suscipit dignissim. Proin fringilla, erat vitae imperdiet interdum, lacus purus bibendum purus, nec scelerisque erat odio non erat. Vestibulum maximus erat nibh, ac vestibulum tortor sodales a. Vivamus tincidunt ex sed sodales dictum. Curabitur a luctus libero. Quisque tincidunt id est vitae commodo. Proin vel nunc libero. Quisque vel dignissim ante. Sed lobortis lectus erat, quis placerat lacus gravida ac.<br/><br/>
                Nullam fringilla nibh sit amet erat laoreet, vel molestie eros rhoncus. Sed sit amet lacinia tellus, at finibus sapien. Nulla placerat massa quis laoreet bibendum. Sed euismod lacus in auctor porta. Cras metus erat, dignissim ut lobortis rutrum, pulvinar et sem. Etiam sed tellus euismod, commodo augue in, gravida risus. Aliquam molestie justo at finibus vestibulum. Nulla vel enim eros. Phasellus tincidunt mauris in efficitur elementum. Maecenas eu tincidunt nulla. Quisque fermentum accumsan efficitur. Donec tempus felis et aliquet dictum. Donec scelerisque molestie eros, nec dictum sem rhoncus sed. In molestie molestie aliquet. Aliquam nec pellentesque eros. Donec vestibulum lacus elit.<br/><br/>
            </p>
        </div>
    </div>
</div>
{% endblock %}